/* You can add global styles to this file, and also import other style files */

// Default chartist overrides

.ct-line {
    stroke-width: 0px;
}

.ct-series-b .ct-area {
    fill: #b4eeb4;
}

.ct-series-a .ct-area {
    fill: #3399ff;
}

.ct-area {
    fill-opacity: 0.6;
}

// Labels

svg.ct-chart-bar, svg.ct-chart-line{
    overflow: visible;
}

.ct-label.ct-label.ct-horizontal.ct-end {
    position: relative;
    justify-content: flex-end;
    text-align: right;
    transform-origin: 100% 0;
    transform: translate(-100%) rotate(-45deg);
    white-space:nowrap;
  }