<div class="container">
  <ng-container *ngIf="(!loading && !resourceLoading && !co2Loading && !exchangeLoading); else loadingspinner">
    <header class="header">
      <form [formGroup]="form" (submit)="onSubmit()" class="date-picking-area">
        <h5 class="texts">Pick other dates</h5>
        <label>From:</label>
        <input type="date" formControlName="startTime" [value]="startTime" (select)="onChange($event)">
        <label>To:</label>
        <input type="date" formControlName="endTime" [value]="endTime">
        <br>
        <button type="submit">Save</button>
      </form>
      <div class="current-picks">
        <h5 class="texts">Showing data in the date span:</h5>
        <p class="texts">From: {{ startTime | date }}</p>
        <p class="texts">To: {{ endTime | date }}</p>
      </div>
    </header>
    <br>
    <div class="graph-1">
      <div class="chart-container">
        <h1 class="title">Energy production over time</h1>
        <app-chart [labels]="labels" [series]="series" [options]="options" [type]="'line'"></app-chart>
      </div>
    </div>
    <div class="graph-2">
      <div class="chart-container">
        <h1 class="title">CO2 emmision over time</h1>
        <app-chart [labels]="co2Labels" [series]="co2Series" [options]="co2Options" [type]="'line'"></app-chart>
      </div>
    </div>
    <div class="graph-area-3">
      <div class="graph-3">
        <div class="chart-container">
          <h1 class="title">Energi by source</h1>
          <app-chart [labels]="pielabels" [series]="pieseries" [options]="pieChartOptions" [type]="'pie'"></app-chart>
        </div>
      </div>
      <div class="graph-3">
          <div class="chart-container">
            <h1 class="title">Energi details</h1>
            <app-chart [labels]="resourceLabels" [series]="resouceSeries" [options]="pieChartOptions" [type]="'pie'"></app-chart>
          </div>
        </div>
        <div class="sum-graph-3">
            <div class="sum-container">
              <h1 class="title">Total exchange</h1>
              <h1 class="sum">{{ exchangeSum > 0 ? '+' : '' }}{{ exchangeSum }} </h1>
            </div>
          </div>
    </div>
    <div class="graph-4">
        <div class="chart-container">
          <h1 class="title">Energy exchange with Germany, Sweden and Norway over time</h1>
          <app-chart [labels]="exchangeLabels" [series]="exchangeSeries" [options]="exchangeOptions" [type]="'line'"></app-chart>
        </div>
      </div>
  </ng-container>
  <ng-template #loadingspinner>
    <div class="spinner">
      <app-loading></app-loading>
    </div>
  </ng-template>
</div>
  
  