@mixin card() {
    border: 0.5px solid rgb(187, 187, 187);
    background-color: rgba(255, 255, 255, 1);
    border-radius: 0.5%;
}



h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
}

.container {
    display: grid;
    grid-template-areas: 
     'header header'
     'graph-1 graph-1'
     'graph-2 graph-2'
     'graph-area-3 graph-area-3'
     'graph-4 graph-4';
    grid-gap: 10px;
    width: 100%;
}

.graph-1 {
    display: flex;
    grid-area: graph-1;
    @include card();
    padding: 30px 50px;
    justify-content: center;
}

.graph-2 {
    display: flex;
    grid-area: graph-2;
    @include card();
    padding: 30px 50px;
    justify-content: center;
}

.graph-3 {
    display: flex;
    @include card();
    padding: 10px 0;
    justify-content: center;
    max-width: 300px;
    
}

.graph-area-3 {
    grid-area: graph-area-3;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.graph-4 {
    display: flex;
    grid-area: graph-4;
    @include card();
    padding: 30px 50px;
    justify-content: center;
}

.chart-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
}

.date-picking-area {
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    @include card();
    padding: 10px;
}

.header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
}

.current-picks {
    @include card();
    padding: 10px;
}

.texts {
    margin: 0;
}

.sum-graph-3 {
    display: flex;
    @include card();
    padding: 10px 0;
    justify-content: center;
    flex-grow: 1;
}

.sum-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
}

.sum {
    margin: auto 0;
    text-align: center;
    font-size: 74px;
}

.spinner {
    grid-area: graph-1;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 130px;
}

.title {
    text-align: center;
    margin: 10px;
}