h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 30px;
    background-color: lightgrey;
    justify-content: space-around;
}

.graph-1 {
    display: flex;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 25px;
    padding-left: 50px;
    justify-content: center;
}

// .graph-2 {
//     display: flex;
//     justify-content: center;
// }

.chart-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.date-picking-area {
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
}